$color-1: #BB4E03;
$color-2: #D78347;
$color-3: #013B5E;
$color-4: #01263E;
$color-5: #001B25;
$color-6: white;
$color-7: whitesmoke;

#graph{
    height: 100%;
    width: 100%;
    //background-color: yellowgreen;
    #pieChart{
        //width: 350px;
    }
}