<div id='main-container' (scroll)='scroll($event)'>
    <div id='nav-bar'>
        <div id='nav-bar-content'>
            <div id='nav-bar-logo' (click)='logoClicked()'>Condor Financial</div>
            
            <div id='nav-bar-options' [ngClass]='{"not-visible": !menuIconSelected}'>
                    <div routerLink='dashboard' class='nav-bar-option' id='option-1'[ngClass] = '{"nav-bar-option-clicked": dashboardButtonSelected}' (click)='dashboardButtonClicked()' *ngIf='loggedIn'>
                        Dashboard <span class="chevron" [ngClass] = '{"right-chevron": dashboardButtonSelected}'></span>
                    </div>
                    <div routerLink='stocks' class='nav-bar-option' id='option-3'[ngClass] = '{"nav-bar-option-clicked": marketplacesButtonSelected}' (click)='marketplacesButtonClicked()' *ngIf='loggedIn'>
                        Stocks <span class="chevron" [ngClass] = '{"right-chevron": marketplacesButtonSelected}'></span>
                    </div>
                    <div class='nav-bar-option' id='option-3'[ngClass] = '{"nav-bar-option-clicked": loginButtonSelected}' (click)='loginButtonClicked()' *ngIf='!loggedIn'>
                        Login <span class="chevron" [ngClass] = '{"right-chevron": loginButtonSelected}'></span>
                    </div>
                    <div class='nav-bar-option' id='option-3'[ngClass] = '{"nav-bar-option-clicked": createAccountButtonSelected}' (click)='createAccountButtonClicked()' *ngIf='!loggedIn'>
                        Create Account <span class="chevron" [ngClass] = '{"right-chevron": createAccountButtonSelected}'></span>
                    </div>
            </div>
            <div id='menu-icon' (click)='toggleMenuIconSelected()'></div>
        </div>
    </div>
    
    <div id='container'> 
        <div id='main-content' class='main-content-expanded'>
                <router-outlet></router-outlet>  
        </div>
    </div>
</div>




